<%- include('../partials/footer') %>
<h2>Enter a New Workout</h2>
<form action="/workouts" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Number of Reps:
    <input type="number" name="numberOfReps">
  </label><br>
  <label> Difficulty of workout
    <select name="difficulty">
      <option value="begineer">begineer</option>
      <option value="intermediate">intermediate</option>
      <option value="medium">medium</option>
      <option value="expeirenced">expeirenced</option>
    </select>
  </label><br>
  <label>exercise (separate exercises with commas):
    <input type="text" name="exercise">
  
  <button type="submit">Add New Workout</button>
</form>
<%- include('../partials/footer') %>