<%- include('../partials/footer') %>
<h2>Enter a New Workout</h2>
<form action="/workouts" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Number of Reps:
    <input type="number" name="numberOfReps">
  </label><br>
  <label> Difficulty of workout
    <select name="difficulty">
      <option value="begineer">G</option>
      <option value="intermediate">PG</option>
      <option value="medium">PG-13</option>
      <option value="expeirenced">R</option>
    </select>
  </label><br>
  <label>exercise (separate exercises with commas):
    <input type="text" name="exercise">
  
  <button type="submit">Add New Workout</button>
</form>
<%- include('../partials/footer') %>