<h2>Enter a New Workout</h2>
<form action="/workouts" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Number of Reps:
    <input type="number" name="numberOfReps">
  </label><br>
  <label> Difficulty of workout
    <select name="difficulty">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
  </label><br>
  <label>exercise (separate exercises with commas):
    <input type="text" name="exercise">
  </label><br>
  <label>Now Showing:
    <input type="checkbox" name="nowShowing" checked>
  </label><br>
  <button type="submit">Add Workout</button>
</form>
