<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Movement</title>
</head>
<body>
    
       <!-- newRoutine.ejs -->
<h1>Create New Routine</h1>

<form action="/routine" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name"><br>

  <label for="workouts">Workouts:</label>
  <select multiple name="workouts" id="workouts">
    <% workouts.forEach((workout) => { %>
      <option value="<%= workout._id %>"><%= workout.name %></option>
    <% }) %>
  </select><br>

  <button type="submit">Create Routine</button>
</form>
      
</body>
</html>